node_modules/
.next/
out/
.vercel/
.env*
npm-debug.log*
yarn-*.log*

# Roadmap
next changes.txt

# clerk configuration (can include secrets)
/.clerk/

# Google Cloud credentials
/data/conu-planner-*.json
credentials.json
*.key.json
